footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-primary {
    background: #9D1D27;
}

.footer-primary .default-content-wrapper h5 {
    color: #BC3B45;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 3.6px;
}

.footer-primary .default-content-wrapper h2 {
    color: #BC3B45;
    font-size: 77px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: 3.6px;
    margin-top: 3px;
}

.footer-primary .columns-wrapper .columns div:first-child>div {
  position:relative;
}

.footer-primary .columns-wrapper .columns div:first-child strong {
  color: white;
  font-weight: 600;
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
}

.footer-primary .columns-wrapper .columns div:first-child strong::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.21;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 0;
}
.footer-primary .columns-wrapper .columns div:last-child {
  align-items: flex-start;
}

.footer-primary .columns-wrapper .columns div:last-child p:not(:first-child) {
  margin-top: 0;
}

.footer-primary .columns-wrapper .columns div:last-child p {
      margin-bottom: 0.5rem;
    font-size: 14px;
    color: #fff;
}
